<!DOCTYPE html>
<html>
  <head>
    <title>Onenote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <a class="btn btn-default col-xs-12" data-toggle="modal" data-target="#modal_tags">Editar Tags</a>
    <%= render partial: 'shared/modal_tags' %>
  </body>
</html>
